*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}  

header{
    background-color: rgb(93, 165, 126);
    color: white;
    text-align: center;
    padding: 30px;
    margin: 0px;
}
.OqEh{
    padding: 20px;
    text-align: center;
    font-size: 21px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button{
    color: black;
    font-size: 20px;
}






















@media screen and (min-width:1024px) {
    header{
        background-color: brown;
    }

} 
@media screen and (min-width:1700px) {
    header{
        background-color: rgb(243, 17, 224);
    }

} 