body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
    
    section{
        margin-top: 30px;
        background-color: rgb(216, 134, 27);    
        text-align: center;
        padding: 20px;
    
    }